name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-push-images:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Build and Push Auth
      uses: docker/build-push-action@v4
      with:
        context: ./backend/auth
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/restauranty-auth:latest
        
    - name: Build and Push Discounts
      uses: docker/build-push-action@v4
      with:
        context: ./backend/discounts
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/restauranty-discounts:latest
        
    - name: Build and Push Items
      uses: docker/build-push-action@v4
      with:
        context: ./backend/items
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/restauranty-items:latest
        
    - name: Build and Push Client
      uses: docker/build-push-action@v4
      with:
        context: ./client
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/restauranty-client:latest

  deploy:
    needs: build-push-images
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Update Kubeconfig
      run: aws eks update-kubeconfig --name ${{ secrets.EKS_CLUSTER_NAME }} --region ${{ secrets.AWS_REGION }}

    - name: Deploy to EKS
      run: |  
        kubectl apply -f k8s/ --namespace=${{ secrets.NAMESPACE }}
